{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="container container-login py-5 px-5">
                    <div class=" container container-conexion  py-4 px-4">
                        <div class="row">
                            <div class="col-5">
                            </div>
                            <div class="col-2">
                                <div class="circle-icone">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                        </div>


                        <h1>Connexion</h1>

                        {% if hasError %}
                            <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le
                                mot de passe est invalide
                            </div>
                        {% endif %}

                        <form action="{{ path('account_login') }}" method="post">
                            <div class="form-group">
                                <input type="text" name="_username" id="email" class="fas form-control"
                                       placeholder="&#xf007     nomprenom@gmail.com" required value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <input type="password" name="_password" id="password" placeholder="&#xf023     ********"
                                       class="fas form-control" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-login btn btn-default">Se Connecter</button>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Se souvenir de
                                            moi</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a href="#">Mot de passe oublié</a>
                                </div>
                            </div>


                        </form>
                    </div>
                    <hr class="divider-login">
                    <a href="#" class=" link-notaccount btn btn-link">Pas encore de compte ? Inscris toi </a>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
