{% extends 'base.html.twig' %}

{% block title %}Edit Image{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Image</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    </div>

{% endblock %}